<head>
    <title>Google Homepage</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel = "stylesheet" href = "gbot.css" />
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



  </head>

  <body style="background-color: grey; background-image: url('background.jpg'); background-repeat: no-repeat; background-size: cover;">
    <header>
      <nav>
        <ul id="nav_bar">

        </ul>
      </nav>
    </header>
    

        <div class="cloud x1"></div>
        <!-- Time for multiple clouds to dance around -->
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
 


    <!-- GOOGLE IMG -->
<table style="table-layout:fixed; width: 100%; height: auto;">

  <tr>
<td>   <div class="google">
    <a href="#" id="google_logo"><img src="bot.png"/></a>
  </div> </td>

<td>   <div class="form">

<h1 class="botAnswer text-high"> <%= bot_answer %> </h1>

<h1 class= "botFollowUp text-high"> <%= bot_followup %> </h1>



<form class="" action="/" method="post">
  <input type="text" name="quesFromUser" value="">
  <button type="submit" class="btn btn-primary">Send</button>

  </form>

</div>
</td>

<td>  <div class="google">
    <a href="#" id="google_logo"><img src="human.png"/></a>
  </div>

</td>


  </tr>
</table>



    <!-- FORM SEARCH -->



  </body>

 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
