<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Our bot</title>
  </head>
  <link rel = "stylesheet"
   type = "text/css"
   href = "chat.css" />
  <body>

    <form class="" action="/" method="post">
      <input type="text" name="quesFromUser" value="">
      <button type="submit" name=""></button>
    </form>
   
  </body>
</html>
