<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Our bot</title>
  </head>
  <body>

    <form class="" action="/" method="post">
      <input type="text" name="quesFromUser" value="">
      <button type="submit" name=""></button>
    </form>
    <h1 class="botAnswer"> <%= bot_answer %> </h1>
    <h1 class= "botFollowUp"> <%= bot_followup %> </h1>
  </body>
</html>
