<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel = "stylesheet" href = "gbot.css" />
    <title>Ready</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body style="background-color: grey; background-image: url('background.jpg'); background-repeat: no-repeat; background-size: cover; height: 100%">
    <div class="main">
      <h1>Azure Bot was really smart and has created some content for you.</h1>
      <form class="" action="/resultImages" method="post">
       <button type="submit"  class="btn btn-dark btn-lg" name="ready" style="padding: 10px; margin: 10px;">Images</button>
      </form>
      <form class="" action="/resultVideos" method="post">
      <a href="/"><button type="submit"  class="btn btn-dark btn-lg" name="notReady" style="padding: 10px; margin: 10px;">Videos</button></a>
      </form>
    </div>


  </body>
</html>
