<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bot Results</title>
    <%  newArrayElements.forEach(function(item){  %>
          <img src="<%= item %>">
       <%  })  %> 
  </head>
  <body>
      





  </body>



  <script> 
  
  
  
  </script>
</html>
